@charset "UTF-8";
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  min-height: 10vh;
}

header ul {
  position: absolute;
  left: 0px;
  top: 10vh;
  width: 100%;
  background-color: #0000EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 0px;
  overflow: hidden;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
}

.menuHamburguesa input {
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

.menuHamburguesa div {
  width: 18px;
  height: 1.9px;
  background-color: brown;
  margin-bottom: 3px;
}

.menuHamburguesa input[type="checkbox"]:checked ~ ul {
  height: 40vh;
}

.menuHamburguesa input:checked ~ .linea1 {
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(-45deg) translate(-1px, -3px);
          transform: rotate(-45deg) translate(-1px, -3px);
}

.menuHamburguesa input:checked ~ .linea2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuHamburguesa input:checked ~ .linea3 {
  opacity: 0;
}

/* menu en línea para desktop*/
@media screen and (min-width: 520px) {
  .menuHamburguesa input, .menuHamburguesa div {
    display: none;
  }
  .menuHamburguesa {
    width: 400px;
    margin-right: 50px;
  }
  header ul {
    position: relative;
    top: 0;
    background: unset;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 20px;
  }
  header a {
    color: #060A24;
  }
}

.section1 {
  padding-top: 20px;
  width: 90%;
  margin: auto;
}

#helloWorld {
  width: 90%;
}

.section1 h1 {
  color: #060A24;
  font-size: 3em;
  font-family: "IBM Plex Sans", sans-serif;
}

#world {
  text-decoration: line-through;
}

#dot {
  color: #0000EC;
}

.section1 p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

#buttonConoce {
  margin-top: 40px;
  width: 100%;
  height: 48px;
  background-color: #00F3BB;
  text-align: center;
  line-height: 48px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #060A24;
}

/* Section1 para desktop*/
@media screen and (min-width: 520px) {
  .section1 {
    padding-top: 50px;
    padding-left: 50px;
  }
  .section1 h1 {
    font-size: 3.5em;
  }
  .section1 p {
    width: 550px;
  }
  #buttonConoce {
    width: 226px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */