@charset "UTF-8";
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  min-height: 10vh;
}

header ul {
  position: absolute;
  left: 0px;
  top: 10vh;
  width: 100%;
  background-color: #0000EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 0px;
  overflow: hidden;
}

header a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
}

.menuHamburguesa input {
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

.menuHamburguesa div {
  width: 18px;
  height: 1.9px;
  background-color: brown;
  margin-bottom: 3px;
}

.menuHamburguesa input[type="checkbox"]:checked ~ ul {
  height: 40vh;
}

.menuHamburguesa input:checked ~ .linea1 {
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(-45deg) translate(-1px, -3px);
          transform: rotate(-45deg) translate(-1px, -3px);
}

.menuHamburguesa input:checked ~ .linea2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuHamburguesa input:checked ~ .linea3 {
  opacity: 0;
}

/* menu en línea para desktop*/
@media screen and (min-width: 520px) {
  .contenedorLogo {
    padding-left: 30px;
  }
  .menuHamburguesa input, .menuHamburguesa div {
    display: none;
  }
  .menuHamburguesa {
    width: 400px;
    margin-right: 50px;
  }
  header ul {
    position: relative;
    top: 0;
    background: unset;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 20px;
  }
  header a {
    color: #060A24;
  }
  header a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  header a:active {
    color: #060A24;
    text-decoration: line-through;
  }
}

.section1 {
  padding-top: 20px;
  width: 90%;
  margin: auto;
}

#helloWorld {
  width: 90%;
}

.section1 h1 {
  color: #060A24;
  font-size: 3em;
  font-family: "IBM Plex Sans", sans-serif;
}

#world {
  text-decoration: line-through;
}

#dot {
  color: #0000EC;
}

.section1 p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

#buttonConoce {
  margin-top: 40px;
  width: 100%;
  height: 48px;
  background-color: #00F3BB;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}

#buttonConoce a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #060A24;
}

#buttonConoce:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

#buttonConoce:hover a {
  color: white;
}

/* Section1 para desktop*/
@media screen and (min-width: 520px) {
  .section1 {
    padding-top: 50px;
    padding-left: 60px;
  }
  .section1 h1 {
    font-size: 3.5em;
  }
  .section1 p {
    max-width: 550px;
  }
  #buttonConoce {
    width: 226px;
  }
}

.episodios {
  padding-top: 20px;
}

.fondoAzul {
  width: 100%;
  height: 1100px;
  background: #0000EC;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
  z-index: -1;
  position: absolute;
}

.contenidoEpisodios {
  width: 90%;
  margin: auto;
  padding-top: 100px;
}

#h2Episodios {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2em;
  font-weight: 200;
}

.contenedorPodcast ul {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedorPodcast ul li {
  padding-bottom: 3px;
}

.contenedorPodcast ul li iframe {
  border: none;
  width: 100%;
}

.dondeVenimos img {
  max-height: 600px;
  max-width: 100%;
  padding-bottom: 30px;
}

.dondeVenimos h2 {
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2em;
  font-weight: 200;
  padding-bottom: 20px;
}

.dondeVenimos p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060A24;
}

/* Section Episodios para desktop*/
@media screen and (min-width: 520px) {
  .fondoAzul {
    height: 750px;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  }
  #h2Episodios {
    padding-top: 20px;
    padding-left: 60px;
  }
  .contenedorPodcast ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .contenedorPodcast ul li {
    padding-right: 30px;
  }
  .podcast {
    width: 48%;
    margin-bottom: 20px;
  }
  .dondeVenimos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contenedorTextoDondeVenimos {
    max-width: 460px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.invitados {
  padding-top: 40px;
  width: 100%;
}

.invitados h2 {
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2em;
  font-weight: 200;
  margin-left: 5%;
  padding-bottom: 20px;
}

.invitados img {
  width: 100%;
  height: auto;
}

/* Section Invitados para desktop*/
@media screen and (min-width: 520px) {
  .invitados ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .invitados li {
    width: 33%;
  }
}

.temas h2 {
  padding-top: 35px;
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2em;
  font-weight: 200;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 20px;
}

.contenedorTemas {
  padding-top: 30px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.contenedorTema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

.contenedorTema span {
  padding-top: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  color: #060A24;
  font-weight: bold;
  text-align: center;
}

.fondoAzul2 {
  width: 100%;
  height: 400px;
  background: #0000EC;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  z-index: -1;
  position: absolute;
}

.novedades {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.novedades h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 200;
  text-align: center;
}

.novedades p {
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  height: 48px;
  background-color: #00F3BB;
  text-align: center;
  line-height: 48px;
}

.novedades p a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #060A24;
}

.novedades p a:hover {
  color: white;
}

/* Section Temas para desktop*/
@media screen and (min-width: 520px) {
  .contenedorTemas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contenedorTema {
    padding-right: 30px;
    padding-bottom: 50px;
    max-width: 220px;
  }
  .fondoAzul2 {
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    height: 500px;
  }
  .novedades {
    height: 500px;
  }
  .novedades p {
    width: 545px;
  }
}

footer {
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
}

.social {
  width: 100%;
  padding-bottom: 20px;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social ul li a {
  color: inherit;
}

/* Footer para desktop*/
@media screen and (min-width: 520px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 70px;
    padding-right: 50px;
    min-height: 13vh;
  }
  .copyright {
    padding: unset;
  }
  .social {
    width: unset;
    padding: unset;
  }
  .social ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social ul li {
    padding-right: 35px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */